<!DOCTYPE html>

<html lang = "en" xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset = "UTF-8">
        <title>Messenger</title>

    </head>

    <body>

        <h1>Message</h1>
        <h3 th:text="${messenger.title}"></h3>
        <h3 th:text="${messenger.body}"></h3>
        <a href="#" th:href="@{/messengers/edit/{id}(id=${messenger.id})}"><button>Edit Message</button> </a>
        <a href="#" th:href="@{/messengers/delete/{id}(id=${messenger.id})}" methods="delete">
            <button>Delete Message</button> </a>

    </body>

</html>
