<!DOCTYPE html>

<html lang = "en" xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset = "UTF-8">
        <title>Create/Update Property</title>

    </head>

    <body>

        <h1>Create/Update Property</h1>

        <form action="#" th:action="@{/properties/process}" th:object="${property}" method="post">
            <label>State: </label>
            <input type="text" th:field="*{state}"/> <br/>
            <label>City: </label>
            <input type="text" th:field="*{city}"/> <br/>
            <label>Street Address: </label>
            <input type="text" th:field="*{streetAddress}"/> <br/>
            <label>Asking Price: </label>
            <input type="number" th:field="*{askingPrice}"/> <br/>

            <input type="submit" value="Submit"/>
        </form>

    </body>

</html>
