<!DOCTYPE html>

<html lang = "en" xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset = "UTF-8">
        <title>Closing Time - Offers</title>

    </head>

    <body>

        <h1>Offer Controller</h1>

        <table>
            <tr>
                <th>id: </th>
                <th>offer: </th>
            </tr>

            <tr th:each="offer : ${offers}">
                <td th:text="${offer.id}"></td>
                <td th:text="${offer.offer}"></td>
                <td> <a href="#" th:href="@{/offers/{id}(id=${offer.id})}">
                    <button>See offer details</button> </a> </td>
            </tr>
        </table> <br/>

        <a href="#" th:href="@{/offers/new}"><button>Create Offer</button> </a>

    </body>

</html>
