<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  
    <meta charset="UTF-8">
    <title>Buy</title>
    <div th:replace="/header :: Header"> </div>
  
</head>
<body>

<div th:replace="/header :: header"> </div>

<tr th:each="properties : ${properties}">

    <div class="container-lg">
        <div class="row">
            <div class="col-lrg">
                <img src="https://secure.img1-fg.wfcdn.com/im/39995850/resize-h800%5Ecompr-r85/9078/9078856/%2527White+House%2527+by+CATeyes+Framed+Photographic+Print+on+Canvas.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">State:</p>
                    <p th:text ="${properties.state}" class="card-title"></p>
                    <p class="card-text">City:</p>
                    <p th:text="${properties.city}"></p>
                    <p class="card-text">Address:</p>
                    <p th:text="${properties.streetAddress}"></p>
                    <a href="" class="btn btn-primary">Book</a>
                </div>
            </div>
        </div>
    </div>
</tr>

</body>
</html>