<!DOCTYPE html>

<html lang = "en" xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset = "UTF-8">
        <title>Closing Time - Buyers</title>
        <div th:replace="/header :: Header"> </div>
    </head>

    <body>
    <div th:replace="/header :: header"> </div>
    <div class="container">


        <h1>Buyers Controller</h1>

        <table>
            <tr>
                <th>id: </th>
                <th>firstName: </th>
                <th>lastName: </th>
                <th>email: </th>
            </tr>

            <tr th:each="buyer : ${buyers}">
                <td th:text="${buyer.id}"></td>
                <td th:text="${buyer.firstName}"></td>
                <td th:text="${buyer.lastName}"></td>
                <td th:text="${buyer.email}"></td>
                <td> <a href="#" th:href="@{/buyers/{id}(id=${buyer.id})}">
                     <button>See buyer details</button> </a> </td>
            </tr>
        </table> <br/>

        <a href="#" th:href="@{/buyers/new}"><button>Create Buyer</button> </a>
    </div>
    </body>

</html>
