<!DOCTYPE html>

<html lang = "en" xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset = "UTF-8">
        <title th:text="${buyer.firstName} + ' ' + ${buyer.lastName}"></title>

    </head>

    <body>

        <h1 th:text="'Buyer Profile for: ' + ${buyer.firstName} + ' ' + ${buyer.lastName}"></h1>
        <h3 th:text="${buyer.firstName}"></h3>
        <h3 th:text="${buyer.lastName}"></h3>
        <h3 th:text="${buyer.email}"></h3> <br/>

        <h2>Recieved Messages: </h2>
        <table>
            <tr>
                <th>sellerId: </th>
                <th>title: </th>
                <th>message: </th>
            </tr>

            <tr th:each="message : ${buyer.recievedMessages}">
                <td th:text="${message.sellerId}"></td>
                <td th:text="${message.title}"></td>
                <td th:text="${message.body}"></td>
            </tr>
        </table> <br/>

        <h2>Sent Messages: </h2>
        <table>
            <tr>
                <th>sellerId: </th>
                <th>title: </th>
                <th>message: </th>
            </tr>

            <tr th:each="message : ${buyer.sentMessages}">
                <td th:text="${message.sellerId}"></td>
                <td th:text="${message.title}"></td>
                <td th:text="${message.body}"></td>
            </tr>
        </table> <br/>

        <a href="#" th:href="@{/buyers/edit/{id}(id=${buyer.id})}"><button>Edit details</button> </a>
        <a href="#" th:href="@{/buyers/delete/{id}(id=${buyer.id})}" methods="delete">
            <button>Delete Profile</button> </a>

    </body>

</html>
